/JavaApplication1/nbproject/private/
/JavaApplication1/build/
/ejemplo1/nbproject/private/
/ejemplo1/build/
/ejemplo2/nbproject/private/
/ejemplo2/build/
/ejer2/nbproject/private/
/ejemplo3/nbproject/private/
/ejemplo1/ejer2/nbproject/private/
/Ejercicio/nbproject/private/
/Ejercicio/build/
/ejercicioclase/nbproject/private/
/ejercicioclase/build/